spring:
  config:
    activate:
      on-profile: local
name: local-YAML
environment: local
enabled: true
---
spring:
  config:
    activate:
      on-profile: dev
name: dev-YAML
environment: dev
enabled: true
---
spring:
  profiles:
    active: dev
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
      format_sql: false
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false
    enabled: true
    check-template: true
    check-template-location: true
  logging:
    level:
      org:
        springframework:
          cache: trace
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:}:${POSTGRES_PORT:}/${POSTGRES_DB:}
    username: ${POSTGRES_USER:}
    password: ${POSTGRES_PASSWORD:}
server:
  port: ${SERVER_PORT:}
  error:
    include-message: always
geonames:
  protocol: https
  host: secure.geonames.org
  sourceName: GeoNames
  sourceLink: https://www.geonames.org/
  searchPath: /searchJSON
  getPath: /getJSON
  maxRows: 10
  username: ${GEONAMES_API_USERNAME}
  isNameRequired: true
  featureClass: P
  featureClassAdmin: A
auth:
  adminApiKey: ${ADMIN_API_KEY:}
  testsApiKey: ${TESTS_API_KEY:}
  userApiKey: ${VOYAGER_API_KEY:}
cors:
  allowed-origin-patterns:
    - "http://localhost:*"
    - "https://localhost:*"
app:
  version: @project.version@
  name: @project.name@
  description: @project.description@
  artifactId: @project.artifactId@
  groupId: @project.groupId@
public:
  daily:
    limit: ${PUBLIC_DAILY_LIMIT:1000}